<MudText>
	@Path.GetFileName(FilePath)
	@if (_unsavedEdits)
	{
		<span>*</span>
	}
</MudText>
<style>
	#my-editor-id {
		height: calc(100vh - 100px);
	}
</style>
<StandaloneCodeEditor Id="my-editor-id" ConstructionOptions="@EditorConstructionOptions" OnDidChangeModelContent="evnt => _unsavedEdits = true" OnDidBlurEditorText="@SaveFileToDisk" />

@code {
	[Parameter, EditorRequired]
    public string FilePath { get; set; } = null!;

	private string? _fileContent;
	private bool _unsavedEdits = false;

	private StandaloneEditorConstructionOptions EditorConstructionOptions(StandaloneCodeEditor editor)
	{
		return new StandaloneEditorConstructionOptions
		{
			AutomaticLayout = true,
			Language = "csharp",
			Theme = "vs-dark",
			ScrollBeyondLastLine = false,
			FontSize = 18,
			Value = _fileContent
		};
	}

	protected override async Task OnInitializedAsync()
	{
		var fileInfo = new FileInfo(FilePath);
		if (!fileInfo.Exists)
		{
			throw new FileNotFoundException($"File not found: {FilePath}");
		}
		var fileContent = await File.ReadAllTextAsync(FilePath);
		_fileContent = fileContent;
	}

	private async Task SaveFileToDisk(object obj)
	{
		if (_unsavedEdits is false)
		{
			return;
		}
		var editor = obj as StandaloneCodeEditor;
		ArgumentNullException.ThrowIfNull(editor, nameof(editor));
		var editorTextValue = await editor.GetValue();
		await File.WriteAllTextAsync(FilePath, editorTextValue);
		_unsavedEdits = false;
	}

}
